<div class="interactive-wrapper"><h2>{{teamname}}</h2>

<div>Pool {{pool}}</div>
<img src="{{homekit}}"></img>
<img src="{{awaykit}}"></img>

<div>{{teamprofile}}</div>
<div>Star players</div>
{{#players}}

<div>{{playername}}</div>
<img src="{{playermugshot}}"></img>

<div>{{playerposition}}</div>
<div>{{playerheight}}</div>
<div>{{playerweight}}</div>
<div>{{playercaps}}</div>
<div>{{playerprofile}}</div>


{{/players}}

<h4>Full squad list</h4>


{{#list}}

<div>{{player}}</div>
<div>{{position}}</div>
{{/list}}

<div></div>
<div></div>
<div></div>
<div></div>


</div>