<div class="i-wrapper">
    {{> header}}
    <div class="i-main">
            <div class="i-header__standfirst" data-link-name="standfirst" data-component="standfirst">
    <p>{{header.standfirst}}</p>
    </div>
</div>
    <hr class="i-rule-fullwidth" />

    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-team-heading i-absolute">{{teamname}}</h3>
        </div>
        <div class="i-team-graphics">
            <img class="i-crest" src="{{crest}}"></img>
            <div class="i-crest-divider"></div>
            <img class="i-homekit i-kit" src="{{homekit}}"></img>
            <img class="i-awaykit i-kit" src="{{awaykit}}"></img>
        </div>
        <div class="i-coach i-team-stat"><span>Coach</span><span>{{coach}}</span></div>
        <div class="i-pool i-team-stat"><span>Pool</span><span>{{pool}}</span></div>
        <div class="i-rank i-team-stat"><span>World rank</span><span>{{rank}}</span></div>
        <div class="i-prev-best i-team-stat"><span>Previous best position</span><span>{{prevbest}}</span></div>

        <div class="i-team-profile">{{{teamprofile}}}</div>
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-key-players-heading i-absolute">Key players</h3>
        </div>
        {{#players}}

        
        <div class="i-playermugshot">
            <div class="i-mugshot-inner">
            <img src="{{playermugshot}}"></img>
        </div>
        </div>
        <div>{{playername}}</div>
        <div>{{playerposition}}</div>
        <div>{{playerheight}}</div>
        <div>{{playerweight}}</div>
        <div>{{playercaps}}</div>
        <div>{{playerprofile}}</div>


        {{/players}}
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-key-players-heading i-absolute">Lineup</h3>
        </div>

        {{#list}}

        <div>{{player}}</div>
        <div>{{position}}</div>
        {{/list}}

    </div>
</div>