<div class="i-wrapper {{teamClass}}">
    {{> header}}
    <div class="i-main">
        <div class="i-header__standfirst i-header__standfirst__desktop" data-link-name="standfirst" data-component="standfirst">
            <p>{{header.standfirst}}</p>
        </div>
    </div>
    <hr class="i-rule-fullwidth" />

    <div class="i-main">
        <div class="weighting--showcase i-team__country">
            <h3 class="i-team-heading i-team-text-color">{{teamname}}</h3>
            <img class="i-teamnameSVG" src="<%= path %>/assets/imgs/type/{{teamnameSVG}}"></img>
        </div>
        <div class="i-team-graphics">
            <img class="i-badge" src="<%= path %>/assets/imgs/badges/2x/{{badge}}"></img>
            <div class="i-badge-divider"></div>
            <img class="i-kit" src="<%= path %>/assets/imgs/kits/2x/{{kit}}"></img>
        </div>
        <div class="i-coach i-team-stat i-team-text-color"><span>Coach</span><span>{{coach}}</span></div>
        <div class="i-pool i-team-stat i-team-text-color"><span>Pool</span><span>{{pool}}</span></div>
        <div class="i-rank i-team-stat i-team-text-color"><span>World rank</span><span>{{rank}}</span></div>
        <div class="i-prev-best i-team-stat i-team-text-color"><span>Previous best
                position</span><span>{{prevbest}}</span></div>

        <div class="i-team-profile">{{#teamprofile}}{{{.}}}{{/teamprofile}}</div>
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-key-players-heading i-absolute i-team-text-color">Key players</h3>
        </div>
        {{#players}}

        <div class="i-player-wrapper">
            <div class="i-playermugshot">
                <div class="i-mugshot-inner">
                    <img src="{{playermugshot}}"></img>
                </div>
                <div class="i-star-icon">
                    <svg width="29" height="29" xmlns="http://www.w3.org/2000/svg"><path d="M5.552 18.32c-.992 2.048-2.08 3.776-3.264 5.216L.08 20.944c1.696-1.888 3.168-4.576 4.384-8.032l3.008.672c-.224.608-.448 1.216-.64 1.792h6.72v-2.048h3.392v2.048H27.12v2.944H16.944v2.272h8.992v2.816h-8.992v2.272H28.56v2.976H1.264V25.68h12.288v-2.272h-8.48v-2.816h8.48V18.32h-8zM3.984.592h21.312v11.904H3.984V.592zm17.984 9.12V7.856H7.28v1.856h14.688zM7.28 5.232h14.688V3.408H7.28v1.824z" fill="#121212" fill-rule="nonzero"/></svg>
                </div>
            </div>
            <div class="i-player-name i-player-stat i-team-text-color"><span></span><span>{{playername}}</span>
            </div>
            <div class="i-playerinfo">
                <div class="i-player-position i-player-stat i-team-text-color">
                    <span>Position</span><span>{{playerposition}}</span></div>
                <div class="i-player-caps i-player-stat i-team-text-color">
                    <span>Caps</span><span>{{playercaps}}</span>
                </div>
                <div class="i-player-height i-player-stat i-team-text-color">
                    <span>Height</span><span>{{{playerheight}}}</span></div>
                <div class="i-player-weight i-player-stat i-team-text-color">
                    <span>Weight</span><span>{{{playerweight}}}</span></div>
                <div class="i-player-profile">{{playerprofile}}</div>
            </div>
        </div>

        {{/players}}
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-lineup-heading i-absolute i-team-text-color">Lineup</h3>
        </div>

        <div class="i-lineup-header">

            <div class="i-lineup-entry">
            <div class="i-lineup-cell i-lineup-player i-team-text-color">Player</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">Position</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">Age</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">Caps</div>
        </div>
        <div class="i-lineup-entry i-lineup-entry-hide-mobile">
            <div class="i-lineup-cell i-lineup-player i-team-text-color">Player</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">Position</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">Age</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">Caps</div>
        </div>

        </div>
        <div class="i-lineup">
            {{#list}}
            <div class="i-lineup-entry">
            <div class="i-lineup-cell i-lineup-player">{{player}}</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">{{position}}</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">{{age}}</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">{{caps}}</div>
        </div>
            <!-- <br /> -->
            {{/list}}
        </div>
        <div class="i-footnote">* All ages and stats correct at start of tournament</div>

    </div>
    <div class="i-related-content">
        {{{relatedContent}}}
    </div>
</div>

