<div class="i-wrapper {{teamClass}}">
    {{> header}}
    <div class="i-main">
        <div class="i-header__standfirst" data-link-name="standfirst" data-component="standfirst">
            <p>{{header.standfirst}}</p>
        </div>
    </div>
    <hr class="i-rule-fullwidth" />

    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-team-heading i-absolute i-team-text-color">{{teamname}}</h3>
        </div>
        <div class="i-team-graphics">
            <img class="i-badge" src="<%= path %>/assets/imgs/badges/2x/{{badge}}"></img>
            <div class="i-badge-divider"></div>
            <img class="i-kit" src="<%= path %>/assets/imgs/kits/2x/{{kit}}"></img>
        </div>
        <div class="i-coach i-team-stat i-team-text-color"><span>Coach</span><span>{{coach}}</span></div>
        <div class="i-pool i-team-stat i-team-text-color"><span>Pool</span><span>{{pool}}</span></div>
        <div class="i-rank i-team-stat i-team-text-color"><span>World rank</span><span>{{rank}}</span></div>
        <div class="i-prev-best i-team-stat i-team-text-color"><span>Previous best
                position</span><span>{{prevbest}}</span></div>

        <div class="i-team-profile">{{{teamprofile}}}</div>
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-key-players-heading i-absolute i-team-text-color">Key players</h3>
        </div>
        {{#players}}

        <div class="i-player-wrapper">
            <div class="i-playermugshot">
                <div class="i-mugshot-inner">
                    <img src="{{playermugshot}}"></img>
                </div>
                <div class="i-star-icon"></div>
            </div>
            <div class="i-playerinfo">
                <div class="i-player-name i-player-stat i-team-text-color"><span></span><span>{{playername}}</span>
                </div>
                <div class="i-player-position i-player-stat i-team-text-color">
                    <span>Position</span><span>{{playerposition}}</span></div>
                <div class="i-player-height i-player-stat i-team-text-color">
                    <span>Height</span><span>{{playerheight}}</span></div>
                <div class="i-player-weight i-player-stat i-team-text-color">
                    <span>Weight</span><span>{{playerweight}}</span></div>
                <div class="i-player-caps i-player-stat i-team-text-color"><span>Caps</span><span>{{playercaps}}</span>
                </div>
                <div class="i-player-profile">{{playerprofile}}</div>
            </div>
        </div>

        {{/players}}
    </div>
    <hr class="i-rule-fullwidth" />
    <div class="i-main">
        <div class="weighting--showcase">
            <h3 class="i-key-players-heading i-absolute i-team-text-color">Lineup</h3>
        </div>

        <div class="i-lineup-header">
          
            <div class="i-lineup-entry">
            <div class="i-lineup-cell i-lineup-player i-team-text-color">Player</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">Position</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">Age</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">Caps</div>
        </div>
        <div class="i-lineup-entry i-lineup-entry-hide-mobile">
            <div class="i-lineup-cell i-lineup-player i-team-text-color">Player</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">Position</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">Age</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">Caps</div>
        </div>
         
        </div>
        <div class="i-lineup">
            {{#list}}
            <div class="i-lineup-entry">
            <div class="i-lineup-cell i-lineup-player">{{player}}</div>
            <div class="i-lineup-cell i-lineup-position i-team-text-color">{{position}}</div>
            <div class="i-lineup-cell i-lineup-age i-team-text-color">28</div>
            <div class="i-lineup-cell i-lineup-caps i-team-text-color">14</div>
        </div>
            <br />
            {{/list}}
        </div>
        <div class="i-footnote">* All ages correct at start of tournament</div>

    </div>
</div>