.seo-headline {
  position: absolute;
  top: -2000px;
  left: -2000px;
}

.gv-logo {
  display: block;
  width: 190px;
  height: auto;
  position: relative;
  margin-top: 10px;
  z-index: 3;
  left: 0px;

  @include mq(desktop) {
    margin-top: 30px;
  }
}

.gv-header-wrapper {
    width: 100%;
    min-height: 550px;
    background-color: white;
    position: relative;
    z-index: 0;

    @include mq(mobileMedium) {
      min-height: 600px;
    }

    @include mq(tablet) {
      min-height: 660px;
    }

    @include mq(leftCol) {
      min-height: 600px;
    }


    &::before {
      background-color: white;
      content: "";
      display: block;
      height: 100%;
      width: 200vw;
      left: -100vw;
      position: absolute;
      z-index: -20;

      @include mq(tablet) {
        border-bottom: 1px solid $neutral-86;
      }
    }

    .gv-header-image__one {
        display: block;
        position: absolute;
        height: auto;
        width: 100%;
        // left: 10px;
        bottom: 150px;
        @include mq(mobileLandscape) {
            width: 480px;
        }
          @include mq(tablet) {
            bottom: 200px;
          }
          @include mq(desktop) {
            bottom: 0px;
            left: 450px;
          }
          @include mq(leftCol) {
            width: 500px;
          }
          @include mq(wide) {
            left: 360px;
            width: 700px;
          }
      }

    // .gv-header-image__one {
    //   background-image: url('<%= path %>/assets/imgs/header/australia-shodo.png');
    //   width: calc(100% - 20px);
    //   height: 100%;
    //   left: 10px;
    //   top: 50px;
    //   z-index: -1;
    //   @include mq(mobileLandscape) {
    //     max-height: 400px;
    //   }
    //   @include mq(tablet) {
    //   }
    //   @include mq(desktop) {
    //     max-height: 450px;
    //     left: 500px;
    //     top: 160px;
    //   }
    //   @include mq(leftCol) {
    //     top: 80px;
    //     max-height: 470px;
    //     left: 500px;
    //   }
    //   @include mq(wide) {
    //     top: 20px;
    //     max-height: 562px;
    //   }
    // }

    .gv-headline__container {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0px;
      max-height: 100%;
      width: 100%;

      @include mq(mobileLandscape) {
        width: 360px;
      }
      @include mq(tablet) {
        width: 540px;
        bottom: 20px;
      }
      @include mq(desktop) {
        top: 80px;
      }

      @include mq(leftCol) {
        top: 104px;
        width: 630px;
        left: -160px;
      }
      @include mq(wide) {
        left: -240px;
      }
    }

    .gv-headline {
      @include fs-titlepiece(3);
      position: relative;
      display: block;
      font-size: 47px;
      line-height: 47px;
      z-index: 2;
      color: $neutral-7;
      @include mq(mobileMedium) {
        font-size: 56px;
        line-height: 56px;
      }
      @include mq(tablet) {
        font-size: 85px;
        line-height: 80px;
      }
      @include mq(leftCol) {
        font-size: 100px;
        line-height: 92px;
        width: 640px;
      }
    }

    .gv-header-image__two {
        display: block;
        position: relative;
        align-self: flex-end;
        height: auto;
        width: 240px;
        margin-top: 2px;
        @include mq(mobileMedium) {
            width: 300px;
        }
          @include mq(tablet) {
            margin-top: 6px;
          }
          @include mq(desktop) {
          }
          @include mq(leftCol) {
            width: 400px;
          }
      }

    // .gv-header-image__two {
    //   background-image: url('<%= path %>/assets/imgs/header/australia-type.svg');
    //   width: 240px;
    //   height: 20px;
    //   position: relative;
    //   align-self: flex-end;
    //   z-index: 1;
    //
    //   @include mq(mobileMedium) {
    //     width: 300px;
    //   }
    //   @include mq(tablet) {
    //     height: 40px;
    //   }
    //   @include mq(desktop) {
    //   }
    //   @include mq(leftCol) {
    //     width: 400px;
    //   }
    // }

  }

  .gv-stage-marker {
    @include fs-textSans(1);
    color: $neutral-46;
  }

  .gv-match-summary {
    @include fs-textSans(3);
    font-weight: 700;
  }

  .gv-standfirst {
    display: block;
    z-index: 10;
    position: relative;
    @include fs-headline(3);
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 12px;
    z-index: 1000;
    @include mq($until:leftCol) {
      max-width: 25em;
    }
    @include mq(desktop) {
      padding-top: 0px;
    }
    @include mq(leftCol) {
      width: 26em;
      padding-bottom: 32px;

      &:before {
        content: "";
        display: block;
        border-left: 1px solid $neutral-7;
        position: absolute;
        top: 0px;
        left: -10px;
        height: 100%;
      }
    }
  }

  .i-header__standfirst__mobile {
    display: block;

    @include mq(tablet) {
      display: none;
    }
  }

  .i-header__standfirst__desktop {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }

  a {
      color: $sport-blue;
    }

.i-header {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;

    @include mq(desktop) {
        width: 620px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(leftCol) {
        margin-bottom: 0;
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.i-header__headline h1 {
    //@include fs-header(5);
    @include fs-titlepiece(2);
    font-size: 44px;
    line-height: 48px;
}

.i-header__standfirst p {
    @include fs-headline(3);
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #767676;
    margin-top: 24px;
    margin-bottom: 36px;
    max-width: 540px;

    @include mq(tablet) {
      margin-top: 12px;
      // margin-bottom:
    }

}

.i-header__meta {
    background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 0.0625rem 0.8125rem;
    padding-top: 14px;
    box-sizing: border-box;

    @include mq(leftCol) {
        width: 130px;
        position: absolute;
        left: -140px;
        margin-top: 10px;
        // bottom: -125px;
    }

    @include mq(wide) {
        width: 220px;
        position: absolute;
        left: -220px;
    }
}

.i-header__meta__byline {
    margin: 0;
    line-height: 1.35;
    margin-bottom: 4px;
    a {
        //@debugcolor: $news-red;
        @include fs-header(1);
        font-size: 17px;
    }
}

.i-header__meta__byline-wrapper {
    line-height: 10px;
    span::after {
        content: ',';
        font-weight: normal;
        font-style: italic;
    }

    &:nth-last-of-type(2) {
        span::after {
            content: ' and ';
        }
    }

    &:last-of-type {
        span::after {
            content: '';
        }
    }
}

.i-header__meta__dateline {
    time {
        color: #767676;
        @include fs-textSans(1);
    }
    @include fs-textSans(1);
    margin: 0;
    margin-bottom: 4px;
}

.i-header__meta__shares {
    margin: 0;
    padding-top: 6px;
}

.i-header__top-tag {
    a {
        @include fs-header(4);
        color: $news-red;
        @include mq(leftCol) {
            position: absolute;
            top: 0;
            left: -160px;
        }
        @include mq(wide) {
            left: -240px;
        }
    }
}

//shares
.od-share {
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    display: block;
}

.od-share__button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    float: left;
    margin-right: 4px;
    border: 1px solid #dcdcdc;

    &:hover {
        //background-color: $news-red;

        .od-share__icon {
            fill: $neutral-100;
        }
    }
}

.od-share__icon {
    fill: $news-red;
    width: 100%;
    height: 100%;
    margin: auto;
}

.i-header__meta__shares {
    display: block;
    border-top: 1px solid #dcdcdc;
}



// TEAM HEADER BACKGROUNDS


// .australia {
//   .gv-header-image-desktop__one {
//     background-image: url('<%= path %>/assets/imgs/header/australia-stroke.png');
//   }
//   .gv-header-image-desktop__two {
//     background-image: url('<%= path %>/assets/imgs/header/australia-type.svg');
//   }
// }
