$teamcolors: (

"argentina": #6ebcf5,

"australia": #36aa46,

"canada": $inverted-red,

"england": $inverted-red,

"fiji": $neutral-46,

"france": $feature-blue,

"georgia": $news-red,

"ireland": #36aa46,

"iceland": #2C6AFF,

"italy": #0084C6,

"japan": $news-red,

"namibia": #6ebcf5,

"new-zealand": $neutral-46,

"russia": $inverted-red,

"samoa": #0084C6,

"scotland": $feature-blue,

"south-africa": #36aa46,

"tonga": $inverted-red,

"uruguay": #6ebcf5,

"usa": $feature-blue,

"wales": $inverted-red);





@each $name, $value in $teamcolors {

.#{$name} {

    .i-team-text-color {
        color: #{$value} !important;
        ;
    }

    .i-team-profile {
      a {
        color: #{$value} !important;
      }
    }

    .i-team-fill-color  {
        fill: #{$value} !important;
    }
    .od-share__button {


        &:hover {
            background-color: #{$value} !important;
        }

    }

    .i-star-icon svg path {
        fill: #{$value} !important;
    }

}

}
