$teamcolors: (

"argentina": $news-red,

"australia": #36aa46,

"canada": $news-red,

"england": #A5BFE1,

"fiji": #D33832,

"france": #023260,

"georgia": #FFCC44,

"ireland": #36aa46,

"iceland": #2C6AFF,

"italy": #D33832,

"japan": $news-red,

"namibia": $highlight-yellow,

"new-zealand": #D33832,

"russia": #ff4e36,

"samoa": #0084C6,

"scotland": #2f52ad,

"south-africa": #038176,

"tonga": $highlight-yellow,

"uruguay": #D33832,

"usa": $news-red,

"wales": #D33832);





@each $name, $value in $teamcolors {

.#{$name} {

    .i-team-text-color {
        color: #{$value} !important;
        ;
    }

    .i-team-fill-color  {
        fill: #{$value} !important;
    }
    .od-share__button {


        &:hover {
            background-color: #{$value} !important;
        }

    }

    .i-star-icon svg path {
        fill: #{$value} !important;
    }

}

}
