@import "mq";
@import "fonts";
@import "palette";
@import "immersive";
@import "team-colours";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

// body {
//     margin: 0 !important;
// }

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow-x: hidden;
    background-color: #fff !important;

}

.element--thumbnail {
    border-radius: 100%;
    border: 20px solid red;
}


    h2 {
       @include fs-titlepiece(1);
    }
    h3 {

        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;


        @include fs-titlepiece(1);
        font-size: 30px;
        line-height: 32px;
        // padding-bottom: 20px;
        @include mq(leftCol) {
        display: block;
        word-spacing: 1000px;
        }
        @include mq(wide) {
        word-spacing: 0px;
        }
     }

     .i-team__country {
       @include mq(leftCol) {
         position: absolute;
       }
     }

     .i-teamnameSVG {
       display: block;
       //padding-bottom: 20px;
       position: relative;
       bottom: -7px;
       left: 0;
       padding-bottom: 20px;

       @include mq(leftCol) {
         height: 20px;
       }
       @include mq(wide) {
         height: 24px;
       }
     }


.i-absolute {
    @include mq(leftCol) {
position: absolute;
    }
}

.i-rule-fullwidth {
    border-top: 1px solid $neutral-86;
    border-bottom: none;
}


.i-team-graphics {
    position: relative;
    width: 100%;
    font-size: 0;

    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        border-top: 1px solid $neutral-86;
        width: 100%;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    @include mq(mobileLandscape) {
        &:before, &:after {
            display: none;
        }
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    }
    //width: 270px;

    .i-badge, .i-kit {
        display: inline-block;
       height: 80px;
       width: auto;
        padding: 10px;
        @include mq(mobileLandscape) {

        display: block;
        float: left;
        height: 80px;
        padding: 0 10px 0 10px;
        position: relative;
    }
    }

    .i-badge-divider {
        display: inline-block;
        height: 100px;
        width: 1px;
        position: relative;
        top: 0;
        background-color: $neutral-86;
        @include mq(mobileLandscape) {
            height: 90px;
            top: -9px;
            float: left;
            display: block;
        }
    }
}

.i-team-stat {

    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;


    span {

        @include fs-textSans(2);
        font-weight: 800;
        display: block;

        &:nth-of-type(2) {
            @include fs-titlepiece(2);
        }
    }

    &.i-coach {

       display: block;
       margin-right: 0;
       margin-top: 5px;
       @include mq(leftCol) {
       word-spacing: 1000px;
       margin-top: 0;
       }

       span:nth-of-type(2) {
        font-size: 32px;
        line-height: 33px;
        }
    }

}

.i-team-profile {
    //white-space: pre-line;
    margin-bottom: 36px;

    p {
        margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;

    }
}

.i-key-players-heading {

    margin-bottom: 60px;

    &:after {
        content: "";
        position: absolute;
        width: 165px;
        height: 23px;
        background-image: url('<%= path %>/assets/imgs/type/key-player.svg');
        left: 0;
        bottom: -30px;
        background-size: 100% auto;
        background-repeat: no-repeat;

        @include mq(leftCol) {
            width: 120px;
        }
        @include mq(wide) {
            width: 165px;
        }
    }

}

.i-lineup-heading {
    margin-bottom: 60px;
    &:after {
        content: "";
        position: absolute;
        width: 141px;
        height: 23px;
        background-image: url('<%= path %>/assets/imgs/type/lineup.svg');
        left: 0;
        bottom: -30px;

        background-size: 100% auto;
        background-repeat: no-repeat;

        @include mq(leftCol) {
            width: 120px;
        }
        @include mq(wide) {
            width: 141px;
        }
    }

}

.i-player-wrapper {
    margin-bottom: 32px;
    &:after {
        content: "";
        display: block;
        clear: both;
        width: 100%;
    }
}

.i-playermugshot {
    width: 140px;
    height: 140px;
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;

    @include mq(mobileLandscape) {
      width: 150px;
      height: 150px;
      margin-right: 12px;
    }


    .i-mugshot-inner{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .i-star-icon {
        position: absolute;
        width: 46px;
        height: 46px;
        border: 1px solid #121212;
        background: white;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        svg {
            position: absolute;
            left:8px;
            top: 8px;
        }
    }
}

.i-playerinfo {
 // float: right;
 // width: calc(100% - 150px);
 display: grid;
 grid-column-gap: 10px;
 grid-template-columns: 50% 50%;
 width: calc(100% - 10px);
 max-width: 620px;

 @include mq(mobileLandscape) {
   grid-template-columns: 25% 25% 25% 25%;
   width: calc(100% - 20px);
 }
}

.i-player-stat {

    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: top;

    span {

        @include fs-textSans(2);
        font-weight: 800;
        display: block;

        &:nth-of-type(2) {
            @include fs-headline(1);
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &.i-player-name {

       display: block;
       margin-right: 0;
       span {
       @include fs-titlepiece(1);
       font-size: 32px;
       line-height: 36px;
       word-spacing: 1000px;

       @include mq(mobileMedium) {
         font-size: 36px;
         line-height: 40px;
       }
       }
    }

}

.i-player-profile {
    @include fs-headline(3);
    font-size: 18px;
    font-weight: 200;
    grid-column: span 2;

    @include mq(mobileLandscape) {
      grid-column: span 4;
    }
    @include mq(tablet) {
        margin-left: 0;
    }
}

.i-lineup-header {

    @include fs-textSans(4);
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    padding-bottom: 0 !important;
    color: #121212 !important;

    .i-lineup-entry {

        //margin-bottom: 0 !important;
    }


}

.i-lineup, .i-lineup-header {

    @include fs-textSans(4);
    font-weight: 800;

    font-size: 15px;
    line-height: 17px;
    padding-bottom: 20px;

    @include mq(tablet) {
        column-gap: 40px;
        column-count: 2;
    }

    .i-lineup-entry {
        display: block;
        //table-layout: fixed;
        margin-bottom: 15px;
    }

    .i-lineup-entry-hide-mobile {
        display: none;
        @include mq(tablet) {
            display: block;
        }

    }

    .i-lineup-cell {
        display: inline-block;
        padding-right: 5px;
        text-align: left;
        vertical-align: top;
    }

    .i-lineup-age, .i-lineup-caps {
        //display: inline-block;
        //width: 120px;
        //margin-right: 10px;
        padding-right: 10px;
        width: 20px;
    }

    .i-lineup-caps {
        padding-right: 0;
    }

    .i-lineup-position {
        //display: inline-block;
        //width: 120px;
        //margin-right: 10px;
        width: 90px;
    }

    .i-lineup-player {
        //display: inline-block;
        //padding-bottom: 10px;
        width: 120px;
        @include mq(mobileLandscape) {
            width: 180px;
        }
        @include mq(tablet) {
            width: 120px;
        }
    }

}

.i-footnote {
    @include fs-textSans(4);
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 40px;
}

.ios, .android {
    .i-related-content {
        display: none;
    }
}

.interactive-ad-banner {
    display: flex;
    justify-content: center;
    background-color: white;

    .ad-slot--rendered {
        @include mq(tablet) {
          margin: 20px 0 40px 0;
        }
        @include mq(desktop) {
          margin-left: 104px;
        }
    }
}

// over rides //

.russia {

  .gv-headline__container {
    &:before {
        content: "";
        display: block;
        position: absolute;
        border-top: 1px solid $neutral-86;
        top: -39px;
        width: 100vw;
        left: -10px;

        @include mq(mobileMedium) {
          top: -21px;
        }

        @include mq(tablet) {
          top: 1px;
          width: 100%;
        }

        @include mq(desktop) {
          display: none;
        }
    }
  }

}
